* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #2c003e, #1a0027);
    background-size: cover;
    color: #fff;
}

.container {
    display: flex;
    gap: 40px;
    background: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.welcome {
    max-width: 300px;
}

.welcome h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.welcome p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #ccc;
}

.welcome button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(90deg, #ff5f6d, #ffc371);
    color: #fff;
    cursor: pointer;
}

.form-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    width: 280px;
}

.form-box h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    outline: none;
}

.gender {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #ddd;
}

.gender label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.terms {
    margin: 10px 0;
    font-size: 13px;
    color: #ccc;
    display: flex;
    align-items: center;
    gap: 3px;
}


.form-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(90deg, #ff5f6d, #ffc371);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

